  <!--
  LittleLink:
  Version 2.5.0
  -->

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>Dale's Blog</title>
  <meta name="description" content="https://dale.hitchenor.com">
  <meta name="author" content="Dale Hitchenor">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/skeleton-dark.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/dale-favicon.png">

</head>

<body>

  <div id="vanta-bg" style="position: fixed; height:100%; width: 100%; overflow:hidden; z-index:-5; top: 0; background-color: #x4c4c60;"></div>
  <div class="top-container">
    <span class="top-link"><a href="index.html">&#127759; home</a></span>
  </div>
  <div class="container">
    <div class="row">
      <div class="column">

        <img src="images/dale-avatar.svg" class="avatar" srcset="{{ site.baseurl }}/images/dale-avatar.svg" alt="Dale Hitchenor">

        <h1 role="heading">{{ page.title }}</h1>

        <div>
            {{ content }}
        </div>

        <p class="list list-gap" style="font-size: 9px;">Powered by <a href="https://github.com/sethcottle/littlelink">LittleLink</a> | Animation by <a href="https://github.com/tengbao/vanta">VantaJS</a></p>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/vendor/three.r119.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.globe.min.js"></script>
  <script>
    VANTA.GLOBE({
      el: "#vanta-bg",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      color: 0xffcad9,
      color2: 0x213d,
      backgroundColor: 0x4e56
    })
  </script>

</body>

</html>
